
@{
    ViewData["Title"] = "CodigoBarras";
    ViewData["Modulo"] = "EscaneoProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EscaneoProductos</h1>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Portal/EscaneoProductos.js")"></script>
}
}