
@{
    ViewData["Title"] = "CodigoBarras";
    ViewData["Modulo"] = "ImpresionEtiquetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ImpresionEtiquetas</h1>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Portal/ImpresionEtiquetas.js")"></script>
}